@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<link href="~/css/site.css" rel="stylesheet" runat="server" />
<script src="/js/site.js"></script>
<datalist id="Syntax">
    <option value="View history." />
    <option value="Get index." />
    <option value="Get resume." />
    <option value="Get projects." />
    <option value="Get contact information." />
    <option value="Make red." />
    <option value="Make blue." />
    <option value="Make gray." />
    <option value="Make pink." />
    <option value="Make black." />
    <option value="Make brown." />
    <option value="Make green." />
    <option value="Make white." />
    <option value="Make orange." />
    <option value="Make purple." />
    <option value="Make yellow." />
</datalist>

<p>None of the information you enter will be used besides to allow you to update the database.</p>

<div class="text-center">
    <br />
    <br />
    <br />
    <input class="ss" list="Syntax" type="text" id="JSInstructionString" placeholder="Make gray." />
    <button class="tt btn btn-primary" onclick="Build()">Build (press enter)</button>
    <br />
</div>
<br />
<br />
<br />
<body>
    <header>
        <!-- 1-3-2021
        Author: Eric Dee
        http://EricDeeTTSTS.com/ -->
        <meta charset="uft-8" />
        <meta name="author" content="Eric Christopher Dee, Eric C. Dee, Eric Dee">
        <meta name="description" content="Portfolio">
    </header>
</body>

<script src="/js/KeyUp.js"></script>