@{
    ViewData["Title"] = "Projects";
}

<!-- 2-5-2021
Author: Eric Dee
http://EricDeeTTSTS.com/ -->

<head>
    <link href="~/css/boot.css" rel="stylesheet" runat="server" />
</head>

<body>

    <header>
        <meta charset="uft-8" />
        <meta name="author" content="Eric Dee">
        <meta name="description" content="Projects new and old.">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </header>

    <datalist id="Instructions">
        <option value="go index" />
        <option value="go projects" />
        <option value="view history" />
        <option value="view roadmap" />
        <option value="view sourcecode" />
        <option value="reset" />
        <option value="to red" />
        <option value="to blue" />
        <option value="to gray" />
        <option value="to pink" />
        <option value="to black" />
        <option value="to brown" />
        <option value="to green" />
        <option value="to white" />
        <option value="to orange" />
        <option value="to purple" />
        <option value="to yellow" />
    </datalist>

    <div class="TopNavigationLink">

        <p class="Centered"><a class="TopSideIndexLinks" asp-area="" asp-controller="Home" asp-action="Index">&#8767</a></p>

    </div>

    <div class="BelowNavigation">

        <div class="ProjectsBorder">

            <div class="ProjectsFlexible">

                <h2 class="Index">Computer Language Design</h2>
                <h3 class="ProjectIdentifiers">Language development</h3>

                <p class="ProjectsParagraph">
                    I've been working on this project over the course of the past three years. It has seen various iterations in numerous languages.
                    I will be presenting it mostly in C# as that is my go to language at this time. I aim to include a Java and a C version to help others
                    who don't know C# yet. I include explanations in written articles with each new substantial update, so be sure to <a class="UnstyledLink" href="~/HTML/Error/ThisPageIsUnderConstruction.html">check those out</a>. 
                </p>

                <p class="ProjectsParagraph">
                    I immediately knew I had to make a language when I started coding. It has taken a lot of reading, but it's come together well. 
                    This sees updates on a regular basis. I focus on other things for gainful knowledge too.
                </p>

                <p class="ProjectsParagraph">
                    The diagrams are due for an update, but I am focusing on the <a class="UnstyledLink" href="https://ericdeettsts.com/HTML/Roadmap/RoadmapLander.html">roadmap</a> at the present time.
                </p>

                <p class="ProjectsParagraph">
                    <a class="ProjectsLinks" href="https://github.com/EricDeeTTSTS/01-31-2021-TTSTS-Language-Written-In-CSharp-v2" target="_blank">C# Github repository (v2)</a>
                </p>

                <p class="ProjectsParagraph">
                    <a class="ProjectsLinks" href="https://github.com/EricDeeTTSTS/01-17-2021-TTSTS-Language-Written-In-CSharp-v1" target="_blank">C# Github repository (v1)</a>
                </p>

                <div class="ProjectsFlexibleImages">

                    <p class="ProjectsParagraph FlexibleImageParagraph">
                        <img class="FlexibleProjectsImages" src="~/DisplayMedia/Diagrams/TTSTS Class Diagram.png" />
                    </p>

                    <p class="ProjectsParagraph FlexibleImageParagraph">
                        <img class="FlexibleProjectsImages" src="~/DisplayMedia/Diagrams/TTSTS Sequence Diagram.png" />
                    </p>

                </div>

            </div>

            <div class="ProjectsFlexible">

                <h2 class="Index">Database Design</h2>
                <h3 class="ProjectIdentifiers">Microcontroller kits sales</h3>

                <p class="ProjectsParagraph">
                    This database was made to represent a purchaser for microcontrollers and circuit components. It uses basic one to many relationships,
                    with composite keys to determine location of a part which can have many manufacturers and supply it as a kit component. I included
                    all of my queries for creating, inserting into, and navigating the database, as well as the data dictionary, its diagrams, and a doc
                    with the business rules.
                </p>

                <p class="ProjectsParagraph">
                    <div class="GreenText">
                        <a class="ProjectsLinks" href="/ProjectsFiles/Final Data Concepts Project Two Parts ED.zip" download>Hosted on this website</a>
                    </div>
                </p>

                <p class="ProjectsParagraph">
                    <a href="/DisplayMedia/Projects%20Image%20For%20Data%20Concepts%20C.png" target="_blank">
                        <img class="FlexibleProjectsImages" src="/DisplayMedia/Projects%20Image%20For%20Data%20Concepts%20C.png" alt="Sorry, your browser did not display this image for some reason." />
                    </a>
                </p>

            </div>

        </div>

        <div class="ProjectsBorder">

            <div class="ProjectsFlexible">

                <h2 class="Index">OOP North Central Technical College Courses</h2>

                <h3 class="ProjectIdentifiers">Gradebook automation scenarios</h3>
                <h3 class="ProjectIdentifiers">Code debugging</h3>
                <h3 class="ProjectIdentifiers">Zoo building scenarios</h3>
                <h3 class="ProjectIdentifiers">Date night simulation scenarios</h3>

                <p class="ProjectsParagraph">
                    These are the basics of the coursework I have been taking at North Central Technical College. These were object oriented
                    projects based around best practices in a modern work environment, using appropriate naming standards, and conventions.
                    The courses covered things like proper interface design, and use of abstract class inheritance; preprocessor directives,
                    and project file management. I would love to share the projects with you, but for ethical reasons, I cannot.
                </p>

            </div>

            <div class="ProjectsFlexible">

                <h2 class="Index">Software Synthesizer</h2>
                <h3 class="ProjectIdentifiers">Audio</h3>

                <p class="ProjectsParagraph">
                    I had a major passion for music production for about 9 years. Getting to do this made my year. I started creating a sound
                    synthesizer in C# using some basic trigonometry functions (sin and cosine). This was a surprise project for me, because I
                    always wanted to do it, and never realized I could until I started. It took some research, and a bit of theoretical reading
                    to get my own comprehension on the subject, but once I did, I was able to piece it together in 3 days. With the skeleton built,
                    I will continue to revisit this project off and on as a hobby.
                </p>

                <div class="ProjectsFlexibleImages">

                    <p class="ProjectsParagraph">
                        <a href="~/DisplayMedia/Synthesizer Oscilloscope.PNG" target="_blank">
                            <img class="FlexibleProjectsImages" src="~/DisplayMedia/Synthesizer Oscilloscope.PNG" alt="Sorry, your browser did not display this image for some reason." />
                        </a>
                    </p>

                    <p class="ProjectsParagraph">
                        <video class="ProjectsImages" controls>
                            <source src="~/DisplayMedia/Videos/Synthesizer - Second Version.mp4" type="video/mp4">
                        </video>
                    </p>

                </div>

            </div>

        </div>

        <div class="ProjectsBorder">

            <div class="ProjectsFlexible">

                <h2 class="Index">Web pages</h2>
                <h3 class="ProjectIdentifiers">HTML, ASP.NET, and Spring Boot</h3>

                <p class="ProjectsParagraph">
                    Obviously this website is a key part to my projects presentation. Expect to see a legacy version hosted at some point each time
                    a significant update is published. The source code will be uploaded to GitHub very soon.
                </p>

                <p class="ProjectsParagraph">
                    <img class="FlexibleProjectsImages" src="~/DisplayMedia/Capture.png" alt="Sorry, your browser did not display this image for some reason." />
                </p>

            </div>

            <div class="ProjectsFlexible">

                <h2 class="Index">Operating systems</h2>
                <h3 class="ProjectIdentifiers">Kernel booting, assembly development</h3>

                <p class="ProjectsParagraph">
                    Like the language, this is something that was calling me to it. I couldn't have gotten everything I am able to do now done; if I
                    hadn't decided to figure out how this is done. I always thought it'd be usefull to know the same languages Bill Gates can write in, so
                    that helped me get motivated to start this. I think a lot of programming skills can be overlooked if one passes up the oportunity to create
                    at the very least a basic OS. One of my favorite authors on programming in assembly language (Jonathan Bartlett) stated in his book that often
                    the difference between programmers who become masterful at their craft boils down to whether they have learned to program in assembly or not.
                </p>

                <p class="ProjectsParagraph">
                    <img class="FlexibleProjectsImages" src="~/DisplayMedia/ConvertingBinary3.png" alt="Sorry, your browser did not display this image for some reason." />
                </p>

            </div>

        </div>

    </div>

    <div class="ColorBorderProjects">

        <div class="FlexibleArticles">
            <section class="ArticlesArrayFlexible">
                <h3><a class="UnstyledLink" asp-controller="Home" asp-action="Index">Return home.</a></h3>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="ArticleImages" src="~/DisplayMedia/Capture.png" alt="Sorry, your browser did not display this image for some reason." />
                </a>
            </section>
            <section class="ArticlesArrayFlexible">
                <h3><a class="UnstyledLink" asp-controller="Home" asp-action="Sourcecode">View my source code.</a></h3>
                <a class="UnstyledLink" asp-controller="Home" asp-action="Sourcecode">
                    <img class="ArticleImages" src="~/DisplayMedia/CodeExample2.png" alt="Sorry, your browser did not display this image for some reason." />
                </a>
            </section>
            <section class="ArticlesLinksFlexible">
                <section class="NoMobileDisplay">
                    <h3 class="ContentDisplay">Explore computer theory concepts</h3>
                    <p><a class="ArticlesLink" href="~/HTML/Error/ThisPageIsUnderConstruction.html">A computer language</a></p>
                    <p><a class="ArticlesLink" href="~/HTML/Error/ThisPageIsUnderConstruction.html">Building an operating system</a></p>
                    <p class="Break"><a class="ArticlesLink" href="~/HTML/Error/ThisPageIsUnderConstruction.html">Creating a software synthesizer</a></p>
                    <h3 class="ContentDisplay">View the whole collection</h3>
                    <p><a class="ArticlesLink" href="~/HTML/Error/ThisPageIsUnderConstruction.html">Everything</a></p>
                </section>
            </section>
        </div>

    </div>

    <div class="FooterColorProjects">
        <footer>
            <div class="Copyright">
                &copy; 2021 EricDeeTTSTS.com - <a class="Copyright" asp-controller="Home" asp-action="Privacy">privacy policy.</a>
            </div>
        </footer>
    </div>
</body>

<script>
    document.getElementById("KeyboardInput").addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            if (!ConsolePrinterIsBusy) {
                Build();
            }
        }
    });
</script>