@model EricDeeTTSTS.Models.StringCommand

@{
    ViewData["Title"] = "Delete";
}

<!-- 2-5-2021
Author: Eric Dee
http://EricDeeTTSTS.com/ -->

<link href="~/css/boot.css" rel="stylesheet" runat="server" />

<body>
    <header>
        <meta charset="uft-8" />
        <meta name="author" content="Eric Dee">
        <meta name="description" content="Deleting a command from the database.">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </header>

    <h1>Delete</h1>

    <h3>Please confirm that this is the instruction you would like to remove from the wall.</h3>
    <div>
        <h4>Instruction to remove:</h4>
        <hr />
        <dl class="row">
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Command)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Remove" class="btn btn-danger" /> /
            <a asp-action="Index">Back</a>
        </form>
    </div>

</body>