@{
    ViewData["Title"] = "Canvas lander";
}

<!-- 2-5-2021
Author: Eric Dee
http://EricDeeTTSTS.com/ -->

<head>
    <script src="~/js/Interpreter.js"></script>
    <link href="~/css/boot.css" rel="stylesheet" runat="server" />
</head>

<!--
<canvas class="TrailCanvasTop"></canvas>
<script src="~/CanvasDrawing/Eyes.js"></script>
    -->

<body>

    <header>
        <meta charset="uft-8" />
        <meta name="author" content="Eric Dee">
        <meta name="description" content="Display of intent.">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </header>

    <datalist id="Instructions">
        <option value="go index" />
        <option value="go projects" />
        <option value="view history" />
        <option value="view roadmap" />
        <option value="view sourcecode" />
        <option value="reset" />
        <option value="to red" />
        <option value="to blue" />
        <option value="to gray" />
        <option value="to pink" />
        <option value="to black" />
        <option value="to brown" />
        <option value="to green" />
        <option value="to white" />
        <option value="to orange" />
        <option value="to purple" />
    </datalist>

    <div class="TopNavigationLink">

        <p class="Centered"><a class="TopSideIndexLinks" asp-area="" asp-controller="Home" asp-action="Index">&#8767</a></p>

    </div>

    <canvas class="SineCanvasTop" width="100%"></canvas>
    <canvas class="SineCanvasTopTwo"></canvas>
    <script src="~/CanvasDrawing/SineWaves.js"></script>
    <button class="GenerateTreeButton">Generate Random tree</button>
    <canvas class="TreeCanvasLeftTop"></canvas>
    <canvas class="TreeCanvasRightTop"></canvas>
    <script src="~/CanvasDrawing/FractalTrees.js"></script>

    <div class="FlexibleInstructionsContainer">

        <section class="MainMessage">
            <p class="MainMessage">Operation successful! Enter an instruction.</p>
        </section>

        <div class="FlexibleInstructionsArea">

            <section class="InstructionType">
                <h2>Navigation:</h2>
                <p class="Instructions">
                    go index<br />
                    go projects<br />
                    view history<br />
                    view roadmap<br />
                    view sourcecode<br />
                </p>
            </section>

            <section class="InstructionType">
                <h2>Restarting:</h2>
                <p class="Instructions">
                    reset<br />
                </p>
            </section>

            <section class="InstructionType">
                <h2>Styling:</h2>
                <p class="Instructions">
                    to red<br />
                    to blue<br />
                    to gray<br />
                    to pink<br />
                    to black<br />
                    to brown<br />
                    to green<br />
                    to white<br />
                    to orange<br />
                    to purple<br />
                </p>
            </section>
        </div>
    </div>

    <input class="KeyboardInput" id="KeyboardInput" Type="text" placeholder="to green" list="Instructions" />

    <img class="UnderInput" src="../DisplayMedia/UnderInput.png" />

    <div class="ColorBorder">

        <div class="FlexibleArticles">
            <section class="ArticlesArrayFlexible">
                <h3><a class="UnstyledLink" asp-controller="Home" asp-action="Projects">See my projects.</a></h3>
                <a asp-area="" asp-controller="Home" asp-action="Projects">
                    <img class="ArticleImages" src="~/DisplayMedia/Capture.png" alt="Sorry, your browser did not display this image for some reason." />
                </a>
            </section>
            <section class="ArticlesArrayFlexible">
                <h3><a class="UnstyledLink" asp-controller="Home" asp-action="Sourcecode">View my source code.</a></h3>
                <a class="UnstyledLink" asp-controller="Home" asp-action="Sourcecode">
                    <img class="ArticleImages" src="~/DisplayMedia/CodeExample2.png" alt="Sorry, your browser did not display this image for some reason." />
                </a>
            </section>
            <section class="ArticlesLinksFlexible">
                <section class="NoMobileDisplay">
                    <h3 class="ContentDisplay">Explore computer theory concepts</h3>
                    <p><a class="ArticlesLink" href="~/TextForArticleConversion/Acomputerlanguage.html">A computer language</a></p>
                    <p><a class="ArticlesLink" href="/TextForArticleConversion/Buildinganoperatingsystem.html">Building an operating system</a></p>
                    <p class="Break"><a class="ArticlesLink" href="/TextForArticleConversion/Creatingasoftwaresynthesizer.html">Creating a software synthesizer</a></p>
                    <h3 class="ContentDisplay">View the whole collection</h3>
                    <p><a class="ArticlesLink" href="/TextForArticleConversion/Allarticles.html">Everything</a></p>
                </section>
            </section>
        </div>

    </div>

    <div class="FooterColor">
        <footer>
            <div class="Copyright">
                &copy; 2021 EricDeeTTSTS.com - <a class="Copyright" asp-controller="Home" asp-action="Privacy">privacy policy.</a>
            </div>
        </footer>
    </div>

</body>

<script>
    document.getElementById("KeyboardInput").addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            Build();
        }
    });
</script>