@{
    ViewData["Title"] = "Privacy practices on this site.";
}

<script src="/js/CommandLine.js"></script>
<script src="~/js/Interpreter.js"></script>
<link href="~/css/boot.css" rel="stylesheet" runat="server" />

<datalist id="Instructions">
    <option value="go index" />
    <option value="go projects" />
    <option value="view history" />
    <option value="view roadmap" />
    <option value="view sourcecode" />
    <option value="reset" />
</datalist>

<body onload="PrintCommandConsoles(1)">

    <div class="TopNavigationLink">

        <p class="Centered"><a class="TopSideIndexLinks" asp-area="" asp-controller="Home" asp-action="Index">&#8767</a></p>

    </div>

    <header>
        <meta charset="uft-8" />
        <meta name="author" content="Eric Dee">
        <meta name="description" content="Your information.">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </header>

    <input class="KeyboardInputPrivacy" id="KeyboardInput" Type="text" placeholder="view roadmap" list="Instructions" />

    <img class="UnderInputPrivacy" src="../DisplayMedia/UnderInput.png" />

    <p class="ParagraphPrivacy">None of the information you enter is ever used by the site owner. Only your commands get stored, keeping you generally anonymous.</p>

    <script>
        document.getElementById("UserInput").addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                if (!ConsolePrinterIsBusy) {
                    Build();
                }
            }
        });
    </script>

    <section class="MainConsolePrivacy" id="MainConsolePrivacy">
    </section>

    <div class="ChildConsolesPrivacy">

        <div id="FlexArea">

            <section class="ConsoleFlexArea" id="ChildConsole1">
            </section>

            <section class="ConsoleFlexArea" id="ChildConsole2">
            </section>

        </div>

    </div>

    <div class="FooterColor">
        <footer>
            <div class="Copyright">
                &copy; 2021 EricDeeTTSTS.com - <a class="Copyright" asp-controller="Home" asp-action="Privacy">privacy policy.</a>
            </div>
        </footer>
    </div>

</body>